
@{
    ViewBag.Title = "Not Found";
}
<style>
    .center {
  position: fixed;
  top: 20%;
  left: 30%;
  margin-top: 80px;
  margin-left: -120px;
  font-size:45px;
}

</style>

<div class="center">
    <label><i class="fa fa-meh-o" aria-hidden="true"></i>  @ViewBag.page !!! </label>
</div>
